<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <servlet-class>CustomerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegisterServlet</servlet-name>
        <servlet-class>CustomerRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <servlet-class>AdminRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAvailableTransportServlet</servlet-name>
        <servlet-class>ListAvailableTransportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAvailableTransportSevlet</servlet-name>
        <servlet-class>ListAvailableTransportSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVehicleServlet</servlet-name>
        <servlet-class>EditVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSingleVehicleServlet</servlet-name>
        <servlet-class>EditSingleVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormSubmissionServlet</servlet-name>
        <servlet-class>FormSubmissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiptServlet</servlet-name>
        <servlet-class>ReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBookingServlet</servlet-name>
        <servlet-class>CancelBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingHistoryServlet</servlet-name>
        <servlet-class>BookingHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBookingServlet</servlet-name>
        <servlet-class>AdminBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileEditServlet</servlet-name>
        <servlet-class>EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUsersServlet</servlet-name>
        <servlet-class>EditUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <url-pattern>/CustomerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegisterServlet</servlet-name>
        <url-pattern>/CustomerRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <url-pattern>/AdminRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAvailableTransportSevlet</servlet-name>
        <url-pattern>/ListAvailableTransportSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAvailableTransportServlet</servlet-name>
        <url-pattern>/ListAvailableTransportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVehicleServlet</servlet-name>
        <url-pattern>/EditVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSingleVehicleServlet</servlet-name>
        <url-pattern>/EditSingleVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormSubmissionServlet</servlet-name>
        <url-pattern>/FormSubmissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiptServlet</servlet-name>
        <url-pattern>/ReceiptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBookingServlet</servlet-name>
        <url-pattern>/CancelBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingHistoryServlet</servlet-name>
        <url-pattern>/BookingHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBookingServlet</servlet-name>
        <url-pattern>/AdminBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileEditServlet</servlet-name>
        <url-pattern>/ProfileEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUsersServlet</servlet-name>
        <url-pattern>/EditUsersServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
